.exino-market-container {
  background-color: #009b87;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 10px;
  margin-top: 50px;
  /* max-width: 1200px; */
}

.exino-market-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.exino-market-title h2 {
  font-size: 22px;
}

.exino-market-title p {
  font-size: 14px;
}

.exino-market-switch-arz {
  display: flex;
  gap: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 10px;
  width: 90%;
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  max-width: 1200px;
}

.exino-market-switch-arz p.active {
  border-bottom: 2px solid #f1ac1c;
}

.exino-market-switch-arz p {
  padding: 0 10px;
  transition: all 650ms ease-in;
}

.exino-market-content-title {
  display: flex;
  justify-content: space-around;
  width: 90%;
  max-width: 1200px;
}

.exino-market-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1px;
}

.exino-market-content-single {
  display: flex;
  justify-content: space-around;
  background-color: rgb(0 0 0 / 20%);
  border-radius: 7px;
  padding-block: 10px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.exino-market-content-single p {
  font-size: 14px;
}

.exino-market-content-single span {
  font-size: 14px;
}

.change-price-last-day p {
  padding: 5px 40px;
  border-radius: 7px;
}

.change-price-last-day.red p {
  background-color: rgba(255, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.change-price-last-day.green p {
  background-color: #0c896e;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.exino-market-content-more button {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding-block: 10px;
  border-radius: 7px;
}

.tetherone-market-first-column {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tetherone-market-first-column img {
  position: absolute;
  right: -55px;
  width: 35px;
}

.exino-market-content {
  max-width: 1200px;
}

@media screen and (width<=576px) {
  .exino-market-switch-arz {
    gap: 15px;
  }

  .tetherone-market-first-column img {
    display: none;
  }
}